.item {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    /* flex-wrap: wrap; */
    color: white;
    background-color: #494B50;
    align-items: center;
    padding: 2rem 0rem 2rem 2rem;
    margin: 0.5rem 20rem;
    border-radius: 30px;
    overflow: hidden;
}

.words {
    display: inline;
    width: 60%;
}

.food {
    font-weight: 600;
    font-size: 1.6rem;
}

.restaurant {
    font-size: 1.33rem;
}

.tags {
    text-align: center;
    display: flex;
    justify-content: right;
    width: 100%;
}